.button {
    background-color: rgba(23, 26, 32, 0.8);
    display: flex;
    align-items: center;
    margin: 8px;
    justify-items: center;
    width: 256px;
    height: 40px;
    border-radius: 100px;
    opacity: 0.85;
}

.button>a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: auto;
}

.button_white {
    background-color: white;
    opacity: 0.65;
}

.button_white>a {
    color: black;
}